header {
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

header {
    padding: 15px 100px;
    background: #000;
}
a {
    color: #f8f9fa;
    text-decoration: none;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    background: darkred;
    border-color: #f8f9fa;
}