
<div class="container">
    <div class="row">
        <div class="card">
            <h2>Resultado de todos los almacenes </h2>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>NOMBRE DEL ALMACEN</th>
                                <th>ELEMENTOS A INSPECCIONAR</th>
                                <th>PELIGROS MECÁNICOS</th>
                                <th>PELIGROS ELÉCTRICOS</th>
                                <th>PELIGROS LOCATIVOS</th>
                                <th>EMERGENCIAS</th>
                                <th>ORDEN Y ASEO</th>
                                <th>SANEAMIENTO BÁSICO</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <h5>ELECTRO HOGAR &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; #2</h5>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">3 &nbsp;/&nbsp; 5</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">1 &nbsp;/&nbsp; 1</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">3 &nbsp;/&nbsp; 5</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">4 &nbsp;/&nbsp; 9</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">6 &nbsp;/&nbsp; 6</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">1 &nbsp;/&nbsp; 2</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">4 &nbsp;/&nbsp; 6</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <h5>ELECTRO HOGAR &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; #2</h5>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">3 &nbsp;/&nbsp; 5</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">1 &nbsp;/&nbsp; 1</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">3 &nbsp;/&nbsp; 5</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">4 &nbsp;/&nbsp; 9</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">6 &nbsp;/&nbsp; 6</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">1 &nbsp;/&nbsp; 2</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>
                                <div class="card-body">
                                    <h6 class="font-wiight-bold">4 &nbsp;/&nbsp; 6</h6>
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div><br>
        </div>
    </div>
</div><br>
<app-modal></app-modal>