<div class="container">
    <div class="row">
        <div class="card">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Elementos a inspeccionar</th>
                                <th>PELIGROS MECÁNICOS</th>
                                <th>PELIGROS ELÉCTRICOS</th>
                                <th>PELIGROS LOCATIVOS</th>
                                <th>EMERGENCIAS</th>
                                <th>ORDEN Y ASEO</th>
                                <th>SANEAMIENTO BÁSICO</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Andres Camilo torrez</td>
                            <td>Activo</td>
                            <td>Credito</td>
                            <td>$2.500.000</td>
                            <td>31/10/2022</td>
                            <td>123456789</td>
                            <td> </td>
                        </tr>
                    </table>
                </div><br>
        </div>
    </div>
</div><br>
