<!-- Parte principal en la que el jefe o encargado de rellenar la encuesta agregara sus datos  -->
<div class="fadeIn first">
    <img src="../../assets/logo-Principal.png" id="icon" alt="User Icon" />
</div>

<div class="container">
    <header>
        <strong>
            <h1>Formato de Inspección</h1>
        </strong>
    </header><br>

    <form>
        <div class="row">
            <div class="col-md-4">
                <h5><b>codigo:</b></h5>
            </div>
            <div class="col-md-4">
                <h5><b>Version: 1</b></h5>
            </div>
            <div class="col-md-4">
                <h5><b>Fecha: marzo del 2021</b></h5>
            </div>
        </div><br>

        <div class="mb-3">
            <label>Inspeccion realizada por:</label>
            <input class="form-control form-control-lg" type="text" name="realizdoBy"
                [(ngModel)]="formatoInspeccion.realizdoBy">
        </div>

        <div class="mb-3">
            <label>Fecha de Inspección: </label>
            <input class="form-control form-control-lg" type="date" name="fecha_inspeccion"
                [(ngModel)]="formatoInspeccion.fecha_inspeccion">
        </div>

        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione su almacen</option>
                <option value="1">ANDES</option>
                <option value="2">BOYACA</option>
                <option value="3">CALDAS</option>
                <option value="4">LA CEJA</option>
                <option value="5">CREDITOS</option>
                <option value="6">CREDITOS2</option>
                <option value="7">ELECTRO</option>
                <option value="8">ELECTRO2</option>
                <option value="9">GUARNE</option>
                <option value="10">ITAGUI</option>
                <option value="11">MAGDA</option>
                <option value="12">MARINILLA</option>
                <option value="13">PBOYACA</option>
                <option value="14">RIONEGRO</option>
                <option value="15">TAMESIS</option>
                <option value="16">YOLOMBO</option>
            </select>
        </div>
    </form><br>

    <!-- Final del codigo en el que el encargado deja sus datos para el formulario  -->

    <!-- 1 Primer cuadro de las encuestas  -->
    <header>
        <strong>
            <h1>Elementos a inspeccionar</h1>
        </strong>
    </header><br>

    <section id="p0">

        <ul class="list-group" id="cuadro1.0">
            <li class="list-group-item">Se cuenta con las hojas de seguridad de las sustancias quimicas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="hojas_serguridad_sustancias_quimicas"
                    value="true" [(ngModel)]="sustanciasQuimicas.hojas_seguridad_sustancias_quimicas">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="hojas_serguridad_sustancias_quimicas"
                    value="false" [(ngModel)]="sustanciasQuimicas.hojas_seguridad_sustancias_quimicas" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul><br>
        <div *ngIf="sustanciasQuimicas.hojas_seguridad_sustancias_quimicas == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'hojas_seguridad_sustancias_quimicas', 'sustanciasQuimicas')"
                    class="form-control" name="hojas_seguridad_sustancias_quimicas" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro1.1">
            <li class="list-group-item">Las sustancias quimicas se encuentran debidamente etiquetadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="sustancias_quimacas_etiquetadas" value="true"
                    [(ngModel)]="sustanciasQuimicas.sustancias_quimicas_etiquetadas" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="sustancias_quimacas_etiquetadas" value="false"
                    [(ngModel)]="sustanciasQuimicas.sustancias_quimicas_etiquetadas" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul><br>
        <div *ngIf="sustanciasQuimicas.sustancias_quimicas_etiquetadas == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'sustancias_quimicas_etiquetadas', 'sustanciasQuimicas')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro1.2">
            <li class="list-group-item">Se cuenta con gafas de seguridad y guantes de nitrilo
                o caucho para manipular las sustancias quimicas </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="gafas_seguridad_guantes_nitrilo" value="true"
                    [(ngModel)]="sustanciasQuimicas.gafas_seguridad_guantes_nitrilo" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="gafas_seguridad_guantes_nitrilo" value="false"
                    [(ngModel)]="sustanciasQuimicas.gafas_seguridad_guantes_nitrilo" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="sustanciasQuimicas.gafas_seguridad_guantes_nitrilo == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'gafas_seguridad_guantes_nitrilo', 'sustanciasQuimicas')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro1.3">
            <li class="list-group-item">Las sustancias quimicas se encuentran debidamente almacenadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="sustancias_quimicas_almacenadas" value="true"
                    [(ngModel)]="sustanciasQuimicas.sustancias_quimicas_almacenadas" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="sustancias_quimicas_almacenadas" value="false"
                    [(ngModel)]="sustanciasQuimicas.sustancias_quimicas_almacenadas" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="sustanciasQuimicas.sustancias_quimicas_almacenadas == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'sustancias_quimicas_almacenadas', 'sustanciasQuimicas')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="observaciones" value="true"
            [(ngModel)]="sustanciasQuimicas.observaciones" rows="3"></textarea>
    </div>
    <!-- Final del primer cuadro de preguntas  -->


    <!-- 2 Segundo cuadro de preguntas para realizar  -->

    <header>
        <strong>
            <h1>PELIGROS MECÁNICOS</h1>
        </strong>
    </header><br>

    <section id="p1">
        <ul class="list-group" id="cuadro2.0">
            <li class="list-group-item">Equipos y herramientas en buen estado </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="equipos_herramientas_buen_estado"
                    [(ngModel)]="peligrosMecanicos.equipos_herramientas_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="equipos_herramientas_buen_estado"
                    [(ngModel)]="peligrosMecanicos.equipos_herramientas_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosMecanicos.equipos_herramientas_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'equipos_herramientas_buen_estado', 'peligrosMecanicos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observaciones" value="true"
            [(ngModel)]="peligrosMecanicos.observaciones"></textarea>
    </div>
    <!-- Final del segundo cuadro de las preguntas  -->


    <!-- 3 tercer cuadro de preguntas para llenar  -->


    <header>
        <strong>
            <h1>PELIGROS ELÉCTRICOS</h1>
        </strong>
    </header><br>

    <section id="p3">
        <ul class="list-group" id="cuadro3.0">
            <li class="list-group-item">Cables eléctricos en buen estado y debidamente entubados. (sin adiciones o
                cintas)</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="cables_buen_estado_entubados"
                    [(ngModel)]="peligrosElectricos.cables_buen_estado_entubados" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="cables_buen_estado_entubados"
                    [(ngModel)]="peligrosElectricos.cables_buen_estado_entubados" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosElectricos.cables_buen_estado_entubados == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'cables_buen_estado_entubados', 'peligrosElectricos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group">
            <li class="list-group-item">Los empalmes o conexiones están en buen estado.</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="empalmes_conexiones_buen_estado"
                    [(ngModel)]="peligrosElectricos.empalmes_conexiones_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="empalmes_conexiones_buen_estado"
                    [(ngModel)]="peligrosElectricos.empalmes_conexiones_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosElectricos.empalmes_conexiones_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'empalmes_conexiones_buen_estado', 'peligrosElectricos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro3.2">
            <li class="list-group-item">Tomas e interruptores en buen estado, cuentan con la tapa de protección, están
                debidamente anclados y señalizados</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="tomas_buen_estado_tapa_proteccion"
                    [(ngModel)]="peligrosElectricos.tomas_buen_estado_tapa_proteccion" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="tomas_buen_estado_tapa_proteccion"
                    [(ngModel)]="peligrosElectricos.tomas_buen_estado_tapa_proteccion" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosElectricos.tomas_buen_estado_tapa_proteccion == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'tomas_buen_estado_tapa_proteccion', 'peligrosElectricos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro3.3">
            <li class="list-group-item">Las cajas de breakers están sin sobrecarga y señalizadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="cajas_breakers_sin_sobrecarga_senaladas"
                    [(ngModel)]="peligrosElectricos.cajas_breakers_sin_sobrecarga_senaladas" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="cajas_breakers_sin_sobrecarga_senaladas"
                    [(ngModel)]="peligrosElectricos.cajas_breakers_sin_sobrecarga_senaladas" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosElectricos.cajas_breakers_sin_sobrecarga_senaladas == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'cajas_breakers_sin_sobrecarga_senaladas', 'peligrosElectricos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro3.4">
            <li class="list-group-item">Los tableros y cajas de breakers están libres de material combustible alrededor
            </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="tableros_caja_breakers_sin_material_combustible"
                    [(ngModel)]="peligrosElectricos.tableros_caja_breakers_sin_material_combustible" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="tableros_caja_breakers_sin_material_combustible"
                    [(ngModel)]="peligrosElectricos.tableros_caja_breakers_sin_material_combustible" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosElectricos.tableros_caja_breakers_sin_material_combustible == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'tableros_caja_breakers_sin_material_combustible', 'peligrosElectricos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observaciones" value="true"
            [(ngModel)]="peligrosElectricos.observaciones"></textarea>
    </div>
    <!-- final del tercer cuadro de las preguntas -->



    <!-- 4 cuarto cuadro de las preguntas  -->

    <header>
        <strong>
            <h1>PELIGROS LOCATIVOS</h1>
        </strong>
    </header><br>

    <section id="p4">
        <ul class="list-group" id="cuadro4.0">
            <li class="list-group-item">Las luminarias se encuentran en buen estado</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="luminarias_buen_estado"
                    [(ngModel)]="peligrosLocativos.luminarias_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="luminarias_buen_estado"
                    [(ngModel)]="peligrosLocativos.luminarias_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.luminarias_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'luminarias_buen_estado', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro4.1">
            <li class="list-group-item">Los muros están en buen estado (Sin grietas, sin humedad, pintura buen estado).
            </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="muros_buen_estado"
                    [(ngModel)]="peligrosLocativos.muros_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="muros_buen_estado"
                    [(ngModel)]="peligrosLocativos.muros_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.muros_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'muros_buen_estado', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro4.2">
            <li class="list-group-item">Escaleras en buen estado (pasamanos, cintas antideslizantes)</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="escaleras_buen_estado"
                    [(ngModel)]="peligrosLocativos.escaleras_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="escaleras_buen_estado"
                    [(ngModel)]="peligrosLocativos.escaleras_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.escaleras_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'escaleras_buen_estado', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro4.3">
            <li class="list-group-item">Pisos en buen estado, sin grietas o desniveles</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="pisos_buen_estado"
                    [(ngModel)]="peligrosLocativos.pisos_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="pisos_buen_estado"
                    [(ngModel)]="peligrosLocativos.pisos_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.pisos_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'pisos_buen_estado', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro4.4">
            <li class="list-group-item">Ventanas, puertas en buen estado (manijas, chapas, sin vidrios fracturados).
            </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="ventanas_puertas_buen_estado"
                    [(ngModel)]="peligrosLocativos.ventanas_puertas_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="ventanas_puertas_buen_estado"
                    [(ngModel)]="peligrosLocativos.ventanas_puertas_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.ventanas_puertas_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'ventanas_puertas_buen_estado', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro4.5">
            <li class="list-group-item">Techos en buen estado (tejas sin fisuras o rotas, sin goteras).</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="techos_buen_estado"
                    [(ngModel)]="peligrosLocativos.techos_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="techos_buen_estado"
                    [(ngModel)]="peligrosLocativos.techos_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.techos_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'techos_buen_estado', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group">
            <li class="list-group-item">Áreas de circulación despejadas (escaleras, zonas de transito en almacén, etc.).
            </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="areas_circulacion_despejadas"
                    [(ngModel)]="peligrosLocativos.areas_circulacion_despejadas" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="areas_circulacion_despejadas"
                    [(ngModel)]="peligrosLocativos.areas_circulacion_despejadas" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.areas_circulacion_despejadas == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'areas_circulacion_despejadas', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro4.7">
            <li class="list-group-item">La sillas y escritorios se encuentran en buen estado</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="silla_escritorios_buen_estado"
                    [(ngModel)]="peligrosLocativos.silla_escritorios_buen_estado" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="silla_escritorios_buen_estado"
                    [(ngModel)]="peligrosLocativos.silla_escritorios_buen_estado" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.silla_escritorios_buen_estado == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'silla_escritorios_buen_estado', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro4.8">
            <li class="list-group-item">Las divisiones modulares, escritorio y cajones se encuentran en buenas
                condiciones. (anclados y ajustados)</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="divisiones_modulares_escritorio_cajones_buenas_condiciones"
                    [(ngModel)]="peligrosLocativos.divisiones_modulares_escritorio_cajones_buenas_condiciones"
                    id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="divisiones_modulares_escritorio_cajones_buenas_condiciones"
                    [(ngModel)]="peligrosLocativos.divisiones_modulares_escritorio_cajones_buenas_condiciones"
                    id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="peligrosLocativos.divisiones_modulares_escritorio_cajones_buenas_condiciones == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'divisiones_modulares_escritorio_cajones_buenas_condiciones', 'peligrosLocativos')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observaciones" value="true"
            [(ngModel)]="peligrosLocativos.observaciones"></textarea>
    </div>

    <!-- final de cuarto cuadro  -->


    <!-- 5 Comienza el quinto cuadro de relleno  -->


    <header>
        <strong>
            <h1>EMERGENCIAS</h1>
        </strong>
    </header><br>

    <section id="p5">
        <ul class="list-group" id="cuadro5.0">
            <li class="list-group-item">La ruta de evacuación se encuentra señalizada y libre de obstáculos</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="ruta_evacuacion_senalizada_libre_obstaculos"
                    [(ngModel)]="emergencias.ruta_evacuacion_senalizada_libre_obstaculos" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="ruta_evacuacion_senalizada_libre_obstaculos"
                    [(ngModel)]="emergencias.ruta_evacuacion_senalizada_libre_obstaculos" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="emergencias.ruta_evacuacion_senalizada_libre_obstaculos == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'ruta_evacuacion_senalizada_libre_obstaculos', 'emergencias')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro5.1">
            <li class="list-group-item">Las salida de emergencia y punto de encuentro se encuentran despejadas y
                señalizadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="salida_emergencia_punto_encuentro_senalizadas_despejadas"
                    [(ngModel)]="emergencias.salida_emergencia_punto_encuentro_senalizadas_despejadas" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="salida_emergencia_punto_encuentro_senalizadas_despejadas"
                    [(ngModel)]="emergencias.salida_emergencia_punto_encuentro_senalizadas_despejadas" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="emergencias.salida_emergencia_punto_encuentro_senalizadas_despejadas == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'salida_emergencia_punto_encuentro_senalizadas_despejadas', 'emergencias')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro5.2">
            <li class="list-group-item">La lista de teléfonos de emergencia publicada y socializada</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="lista_telefonos_emergencia_publicada_socializada"
                    [(ngModel)]="emergencias.lista_telefonos_emergencia_publicada_socializada" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="lista_telefonos_emergencia_publicada_socializada"
                    [(ngModel)]="emergencias.lista_telefonos_emergencia_publicada_socializada" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="emergencias.lista_telefonos_emergencia_publicada_socializada == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'lista_telefonos_emergencia_publicada_socializada', 'emergencias')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro5.3">
            <li class="list-group-item">Los extintores se encuentran en buen estado, recargados, señalizados y libres de
                obstáculos</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="extintores_buen_estado_recargados_senalizados_libre_obstaculos"
                    [(ngModel)]="emergencias.extintores_buen_estado_recargados_senalizados_libre_obstaculos"
                    id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="extintores_buen_estado_recargados_senalizados_libre_obstaculos"
                    [(ngModel)]="emergencias.extintores_buen_estado_recargados_senalizados_libre_obstaculos"
                    id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="emergencias.extintores_buen_estado_recargados_senalizados_libre_obstaculos == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'extintores_buen_estado_recargados_senalizados_libre_obstaculos', 'emergencias')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro5.4">
            <li class="list-group-item">Se cuenta con camilla de emergencia, esta en buen estado, cuenta con cuello
                inmovilizador, correas de sujeción y se encuentra libre de obstáculos</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="camilla_emergencia_buen_estado_cuello_inmovilizador"
                    [(ngModel)]="emergencias.camilla_emergencia_buen_estado_cuello_inmovilizador" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="camilla_emergencia_buen_estado_cuello_inmovilizador"
                    [(ngModel)]="emergencias.camilla_emergencia_buen_estado_cuello_inmovilizador" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="emergencias.camilla_emergencia_buen_estado_cuello_inmovilizador == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera "
                    (change)="file($event, 'camilla_emergencia_buen_estado_cuello_inmovilizador', 'emergencias')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro5.5">
            <li class="list-group-item">El botiquín se encuentra en buen estado y cuenta con los elementos necesarios
                para la atención de primeros auxilios</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="botiquin_buen_estado_elementos_necesarios"
                    [(ngModel)]="emergencias.botiquin_buen_estado_elementos_necesarios" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="botiquin_buen_estado_elementos_necesarios"
                    [(ngModel)]="emergencias.botiquin_buen_estado_elementos_necesarios" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="emergencias.botiquin_buen_estado_elementos_necesarios == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'botiquin_buen_estado_elementos_necesarios', 'emergencias')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observaciones" value="true"
            [(ngModel)]="emergencias.observaciones"></textarea>
    </div>

    <!-- final del quinto cuadro de relleno -->


    <!-- 6 sexto cuadro para rellenar  -->
    <header>
        <strong>
            <h1>ORDEN Y ASEO</h1>
        </strong>
    </header><br>

    <section id="p6">
        <ul class="list-group" id="cuadro6.0">
            <li class="list-group-item">El punto de venta se encuentra en buen estado de aseo y mantenimiento.</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="punto_venta_buen_estado_aseo_mantenimiento"
                    [(ngModel)]="ordenAseo.punto_venta_buen_estado_aseo_mantenimiento" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="punto_venta_buen_estado_aseo_mantenimiento"
                    [(ngModel)]="ordenAseo.punto_venta_buen_estado_aseo_mantenimiento" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="ordenAseo.punto_venta_buen_estado_aseo_mantenimiento == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'punto_venta_buen_estado_aseo_mantenimiento', 'ordenAseo')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group">
            <li class="list-group-item">Los archivadores se encuentran organizados y los documentos o libros debidamente
                almacenados</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="archivadores_organizados_documento_libros_almacenados"
                    [(ngModel)]="ordenAseo.archivadores_organizados_documento_libros_almacenados" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="archivadores_organizados_documento_libros_almacenados"
                    [(ngModel)]="ordenAseo.archivadores_organizados_documento_libros_almacenados" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="ordenAseo.archivadores_organizados_documento_libros_almacenados == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'archivadores_organizados_documento_libros_almacenados', 'ordenAseo')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>
    </section>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" name="observaciones" value="true" [(ngModel)]="ordenAseo.observaciones"
            id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- sexto cuadro para rellenar terminado  -->


    <!-- 7 septimo cuadro para rellenar -->

    <header>
        <strong>
            <h1>SANEAMIENTO BÁSICO</h1>
        </strong>
    </header><br>

    <section id="p7">
        <ul class="list-group" id="cuadro7.0">
            <li class="list-group-item">Se cuenta con puntos ecológicos de disposición de residuos</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="puntos_ecologicos_residuos"
                    [(ngModel)]="saneamientoBasico.puntos_ecologicos_residuos" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="puntos_ecologicos_residuos"
                    [(ngModel)]="saneamientoBasico.puntos_ecologicos_residuos" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="saneamientoBasico.puntos_ecologicos_residuos == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'puntos_ecologicos_residuos', 'saneamientoBasico')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro7.1">
            <li class="list-group-item">Se cuenta con guantes ne nitrilo o caucho para manipular los residuos</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="guantes_nitrilo_caucho"
                    [(ngModel)]="saneamientoBasico.guantes_nitrilo_caucho" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="guantes_nitrilo_caucho"
                    [(ngModel)]="saneamientoBasico.guantes_nitrilo_caucho" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="saneamientoBasico.guantes_nitrilo_caucho == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'guantes_nitrilo_caucho', 'saneamientoBasico')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>



        <ul class="list-group" id="cuadro7.2">
            <li class="list-group-item">El cuarto de residuos se encuentra limpio</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="cuarto_residuos_limpio"
                    [(ngModel)]="saneamientoBasico.cuarto_residuos_limpio" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="cuarto_residuos_limpio"
                    [(ngModel)]="saneamientoBasico.cuarto_residuos_limpio" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="saneamientoBasico.cuarto_residuos_limpio == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'cuarto_residuos_limpio', 'saneamientoBasico')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>


        <ul class="list-group" id="cuadro7.3">
            <li class="list-group-item">El servicio sanitario esta en optimas condiciones</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="servicio_sanitario_optimas_condiciones"
                    [(ngModel)]="saneamientoBasico.servicio_sanitario_optimas_condiciones" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="servicio_sanitario_optimas_condiciones"
                    [(ngModel)]="saneamientoBasico.servicio_sanitario_optimas_condiciones" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="saneamientoBasico.servicio_sanitario_optimas_condiciones == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'servicio_sanitario_optimas_condiciones', 'saneamientoBasico')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro7.4">
            <li class="list-group-item">Los baños cuentan con papel higiénico, jabón, toallas y papeleras con pedal y
                tapa.</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true"
                    name="banos_papel_higienico_jabon_toallas_papeleras"
                    [(ngModel)]="saneamientoBasico.banos_papel_higienico_jabon_toallas_papeleras" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false"
                    name="banos_papel_higienico_jabon_toallas_papeleras"
                    [(ngModel)]="saneamientoBasico.banos_papel_higienico_jabon_toallas_papeleras" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="saneamientoBasico.banos_papel_higienico_jabon_toallas_papeleras == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera"
                    (change)="file($event, 'banos_papel_higienico_jabon_toallas_papeleras', 'saneamientoBasico')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>

        <ul class="list-group" id="cuadro7.5">
            <li class="list-group-item">Se han identificado insectos o roedores, se han fumigado las áreas</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="true" name="insectos_roedores_fumigado_areas"
                    [(ngModel)]="saneamientoBasico.insectos_roedores_fumigado_areas" id="firstRadio">
                <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="false" name="insectos_roedores_fumigado_areas"
                    [(ngModel)]="saneamientoBasico.insectos_roedores_fumigado_areas" id="secondRadio">
                <label class="form-check-label" for="secondRadio">No</label>
            </li>

        </ul>
        <div *ngIf="saneamientoBasico.insectos_roedores_fumigado_areas == 'false'">
            <div class="mb-3">
                <label for="formFile" class="form-label">Agregar una Evidencia o foto</label>
                <input capture="camera" (change)="file($event, 'insectos_roedores_fumigado_areas', 'saneamientoBasico')"
                    class="form-control" type="file" id="formFile">
            </div>

        </div>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="observaciones" value="true"
            [(ngModel)]="saneamientoBasico.observaciones" rows="3"></textarea>
    </div>


    <button type="button" (click)="guardarFormato()" class="btn btn-dark">Finalizar Formulario</button><br><br>
</div>