
    <!-- Parte principal en la que el jefe o encargado de rellenar la encuesta agregara sus datos  -->
    <div class="fadeIn first">
        <img src="../../assets/logo-Principal.png" id="icon" alt="User Icon" />
    </div>

<div class="container">
    <header>
        <strong><h1>Formato de Inspección</h1></strong>
    </header><br>

    <form>
        <div class="row">
            <div class="col-md-4">
                <h5><b>codigo:</b></h5>
            </div>
            <div class="col-md-4">
                <h5><b>Version: 1</b></h5>
            </div>
            <div class="col-md-4">
                <h5><b>Fecha: marzo del 2021</b></h5>
            </div>
        </div><br>
        
        <div class="mb-3">
            <label>Inspeccion realizada por:</label>
            <input class="form-control form-control-lg" type="text" aria-label=".form-control-lg example">
        </div>

        <div class="mb-3">
            <label>Fecha de Inspección: </label>
            <input class="form-control form-control-lg" type="date" aria-label=".form-control-lg example">
        </div>
        
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione su almacen</option>
                <option value="1">Electro Hogar #2</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </form><br>

    <!-- Final del codigo en el que el encargado deja sus datos para el formulario  -->

    <!-- 1 Primer cuadro de las encuestas  -->
    <header>
        <strong><h1>Elementos a inspeccionar</h1></strong>
    </header><br>

    <section id="p0">

        <ul class="list-group" id="cuadro1.0">
            <li class="list-group-item">Se cuenta con las hojas de seguridad de las sustancias quimicas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.0" value="p0">
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.0" value="p0" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.0" value="p0" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul><br>


        <ul class="list-group" id="cuadro1.1">
            <li class="list-group-item">Las sustancias quimicas se encuentran debidamente etiquetadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.1" value="p0" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.1" value="p0" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.1" value="p0" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul><br>


        <ul class="list-group" id="cuadro1.2">
            <li class="list-group-item">Se cuenta con gafas de seguridad y guantes de nitrilo 
                o caucho para manipular las sustancias quimicas </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.2" value="p0" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.2" value="p0" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.2" value="p0" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro1.3">
            <li class="list-group-item">Las sustancias quimicas se encuentran debidamente almacenadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.3" value="p0" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.3" value="p0" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro1.3" value="p0" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <!-- Final del primer cuadro de preguntas  -->


    <!-- 2 Segundo cuadro de preguntas para realizar  -->

    <header>
        <strong><h1>PELIGROS MECÁNICOS</h1></strong>
    </header><br>

    <section id="p1">
        <ul class="list-group" id="cuadro2.0">
            <li class="list-group-item">Equipos y herramientas en buen estado </li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro2.0" value="p1" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro2.0" value="p1" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro2.0" value="p1" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <!-- Final del segundo cuadro de las preguntas  -->


    <!-- 3 tercer cuadro de preguntas para llenar  -->


    <header>
        <strong><h1>PELIGROS ELÉCTRICOS</h1></strong>
    </header><br>

    <section id="p3">
        <ul class="list-group" id="cuadro3.0">
            <li class="list-group-item">Cables eléctricos en buen estado y debidamente entubados. (sin adiciones o cintas)</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.0" value="p3" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.0" value="p3" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.0" value="p3" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group">
            <li class="list-group-item">Los empalmes o conexiones están en buen estado.</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.1" value="p3" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.1" value="p3" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.1" value="p3" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro3.2">
            <li class="list-group-item">Tomas e interruptores en buen estado, cuentan con la tapa de protección, están debidamente anclados y señalizados</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.2" value="p3" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.2" value="p3" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.2" value="p3" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro3.3">
            <li class="list-group-item">Las cajas de breakers están sin sobrecarga y señalizadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadrado3.3" value="p3" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadrado3.3" value="p3" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadrado3.3" value="p3" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro3.4">
            <li class="list-group-item">Los tableros y cajas de breakers están libres de material combustible alrededor</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.4" value="p3" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.4" value="p3" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro3.4" value="p3" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <!-- final del tercer cuadro de las preguntas -->



    <!-- 4 cuarto cuadro de las preguntas  -->

    <header>
        <strong><h1>PELIGROS LOCATIVOS</h1></strong>
    </header><br>

    <section id="p4">
        <ul class="list-group" id="cuadro4.0">
            <li class="list-group-item">Las luminarias se encuentran en buen estado</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.0" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.0" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.0" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro4.1">
            <li class="list-group-item">Los muros están en buen estado (Sin grietas, sin humedad, pintura buen estado).</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.1" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.1" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.1" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro4.2">
            <li class="list-group-item">Escaleras en buen estado (pasamanos, cintas antideslizantes)</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.2" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.2" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.2" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro4.3">
            <li class="list-group-item">Pisos en buen estado, sin grietas o desniveles</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.3" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.3" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.3" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro4.4">
            <li class="list-group-item">Ventanas, puertas en buen estado (manijas, chapas, sin vidrios fracturados).</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.4" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.4" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.4" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro4.5">
            <li class="list-group-item">Techos en buen estado (tejas sin fisuras o rotas, sin goteras).</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.5" value="p5" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.5" value="p5" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.5" value="p5" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group">
            <li class="list-group-item">Áreas de circulación despejadas (escaleras, zonas de transito en almacén, etc.).</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group" id="cuadro4.6">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.6" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.6" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.6" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro4.7">
            <li class="list-group-item">La sillas y escritorios se encuentran en buen estado</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.7" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.7" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.7" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro4.8">
            <li class="list-group-item">Las divisiones modulares, escritorio y cajones se encuentran en buenas condiciones. (anclados y ajustados)</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.8" value="p4" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.8" value="p4" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro4.8" value="p4" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- final de cuarto cuadro  -->


    <!-- 5 Comienza el quinto cuadro de relleno  -->


    <header>
        <strong><h1>EMERGENCIAS</h1></strong>
    </header><br>

    <section id="p5">
        <ul class="list-group" id="cuadro5.0">
            <li class="list-group-item">La ruta de evacuación se encuentra señalizada y libre de obstáculos</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.0" value="p5" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.0" value="p5" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.0" value="p5" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro5.1">
            <li class="list-group-item">Las salida de emergencia y punto de encuentro se encuentran despejadas y señalizadas</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.1" value="p5" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.1" value="p5" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.1" value="p5" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro5.2">
            <li class="list-group-item">La lista de teléfonos de emergencia publicada y socializada</li>
        </ul>
        <label><b>Cumple:</b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.2" value="p5" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.2" value="p5" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.2" value="p5" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro5.3">
            <li class="list-group-item">Los extintores se encuentran en buen estado, recargados, señalizados y libres de obstáculos</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.3" value="p5" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.3" value="p5" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.3" value="p5" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro5.4">
            <li class="list-group-item">Se cuenta con camilla de emergencia, esta en buen estado, cuenta con cuello inmovilizador, correas de sujeción y se encuentra libre de obstáculos</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.4" value="p5" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.4" value="p5" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.4" value="p5" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro5.5">
            <li class="list-group-item">El botiquín se encuentra en buen estado y cuenta con los elementos necesarios para la atención de primeros auxilios</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.5" value="p5" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.5" value="p5" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro5.5" value="p5" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- final del quinto cuadro de relleno -->


    <!-- 6 sexto cuadro para rellenar  -->
    <header>
        <strong><h1>ORDEN Y ASEO</h1></strong>
    </header><br>

    <section id="p6">
        <ul class="list-group" id="cuadro6.0">
            <li class="list-group-item">El punto de venta se encuentra en buen estado de aseo y mantenimiento.</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro6.0" value="p6" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro6.0" value="p6" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro6.0" value="p6" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group">
            <li class="list-group-item">Los archivadores se encuentran organizados y los documentos o libros debidamente almacenados</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro6.0" value="p6" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro6.0" value="p6" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro6.0" value="p6" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul>
    </section>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- sexto cuadro para rellenar terminado  -->


    <!-- 7 septimo cuadro para rellenar -->

    <header>
        <strong><h1>SANEAMIENTO BÁSICO</h1></strong>
    </header><br>

    <section id="p7">
        <ul class="list-group" id="cuadro7.0">
            <li class="list-group-item">Se cuenta con puntos ecológicos de disposición de residuos</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.0" value="p7" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.0" value="p7" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.0" value="p7" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro7.1">
            <li class="list-group-item">Se cuenta con guantes ne nitrilo o caucho para manipular los residuos</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.1" value="p7" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.1" value="p7" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.1" value="p7" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro7.2">
            <li class="list-group-item">El cuarto de residuos se encuentra limpio</li>
        </ul>
        <label><b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.2" value="p7" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.2" value="p7" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.2" value="p7" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>


        <ul class="list-group" id="cuadro7.3">
            <li class="list-group-item">El servicio sanitario esta en optimas condiciones</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.3" value="p7" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.3" value="p7" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.3" value="p7" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro7.4">
            <li class="list-group-item">Los baños cuentan con papel higiénico, jabón, toallas y papeleras con pedal y tapa.</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.4" value="p7" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.4" value="p7" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.4" value="p7" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li><br>
        </ul>

        <ul class="list-group" id="cuadro7.5">
            <li class="list-group-item">Se han identificado insectos o roedores, se han fumigado las áreas</li>
        </ul>
        <label> <b>Cumple: </b></label>
        <ul class="list-group">
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.5" value="p7" id="firstRadio" >
            <label class="form-check-label" for="firstRadio">Si</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.5" value="p7" id="secondRadio">
            <label class="form-check-label" for="secondRadio">No</label>
            </li>
            <li class="list-group-item">
            <input class="form-check-input me-1" type="radio" name="cuadro7.5" value="p7" id="thirdRadio">
            <label class="form-check-label" for="thirdRadio">N/A</label>
            </li>
        </ul>
    </section>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Observaciones:</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Si, he leido y presto mi consentimiento a los terminos de Uso del sitio y al procedimiento, al tratamiendo y a la transaferencia de mis datos personales conforme a lo dispuesto a la politica de Privacidad.
            </label>
        </div><br>
        <button type="button" class="btn btn-dark">Finalizar Formulario</button><br><br>
</div>